/* index styles - start */
.breadcrumbs {
    font-family: Roboto, sans-serif;
    font-weight: 400;

    &__list {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        list-style: none;
        margin-top: 0;
        padding-left: 0;
        color: black;
    }
    &__link {
        text-decoration: none;
        color: var(--grey-color);
        line-height: 16px;
        font-size: clamp(8px, 12px, 14px);
    }
    &__link:hover,
    &__link:active,
    &__link:focus {
        text-decoration: underline;
    }
    &__link--active {
        color: black;
    }
    &__link--active:hover,
    &__link--active:active,
    &__link--active:focus {
        text-decoration: none;
    }
    &__separator {
        color: var(--grey-color);
        padding: 0 5px;
    }
}
.search-form {
    font-family: Roboto, sans-serif;
    font-weight: 400;

    &__fieldset {
        display: flex;
        align-items: center;
        padding: 0;
        border: 2px solid var(--blue-color);
        border-radius: 3px;
        margin-right: 0;
    }
    &__input {
        border-color: transparent;
        background-color: transparent;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 12px;
        flex: 1 0 auto;
        font-size: clamp(12px, 14px, 15px);
    }
    &__input::placeholder {
        font-size: clamp(12px, 14px, 15px);
        color: var(--grey-color--lighter);
    }
    &__btn {
        background: url(../img/sprites/search-icon.svg) no-repeat center/24px;
        background-color: var(--blue-color);
        border-color: transparent;
        flex-basis: 5%;
        align-self: stretch;
        padding: 0;

        @include media-custom-max(992px) {
            flex-basis: 15%;
        }
        @include media-custom-max(768px) {
            flex-basis: 20%;
        }
    }
}
.back-link {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: clamp(12px, 14px, 15px);
    line-height: 20px;
    color: var(--blue-color);
    display: flex;
    align-items: center;
    margin-top: 32px;
    text-decoration: none;

    &:hover,
    &:active,
    &:focus {
        text-decoration: underline;
    }

    &::before {
        content: "";
        background: url(../img/sprites/arrow-left.svg) no-repeat center/cover;
        width: 15px;
        height: 12px;
        margin-right: 5px;
    }
}
/* index styles - end */
