/* index styles - start */
.breadcrumbs {
    font-family: Roboto, sans-serif;
    font-weight: 400;

    &__list {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        list-style: none;
        margin-top: 0;
        padding-left: 0;
        color: black;
    }
    &__link {
        text-decoration: none;
        color: var(--grey-color);
        line-height: 16px;
        font-size: clamp(8px, 12px, 14px);
    }
    &__link:hover,
    &__link:active,
    &__link:focus {
        text-decoration: underline;
    }
    &__link--active {
        color: black;
    }
    &__link--active:hover,
    &__link--active:active,
    &__link--active:focus {
        text-decoration: none;
    }
    &__separator {
        color: var(--grey-color);
        padding: 0 5px;
    }
}
.search-form {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    max-width: 973px;

    &__fieldset {
        display: flex;
        align-items: center;
        padding: 0;
        border: 2px solid var(--blue-color);
        border-radius: 3px;
        margin-right: 0;
    }
    &__input {
        border-color: transparent;
        background-color: transparent;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 12px;
        flex: 1 0 auto;
        font-size: clamp(12px, 14px, 15px);
    }
    &__input::placeholder {
        font-size: clamp(12px, 14px, 15px);
        color: var(--grey-color--lighter);
    }
    &__btn {
        background: url(../img/sprites/search-icon.svg) no-repeat center/24px;
        background-color: var(--blue-color);
        border-color: transparent;
        flex-basis: 5%;
        align-self: stretch;
        padding: 0;

        @include media-custom-max(992px) {
            flex-basis: 15%;
        }
        @include media-custom-max(768px) {
            flex-basis: 20%;
        }
    }
}
.back-link {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: clamp(12px, 14px, 15px);
    line-height: 20px;
    color: var(--blue-color);
    display: inline-flex;
    align-items: center;
    margin-top: 32px;
    text-decoration: none;

    &:hover,
    &:active,
    &:focus {
        text-decoration: underline;
    }

    &::before {
        content: "";
        background: url(../img/sprites/arrow-left.svg) no-repeat center/cover;
        width: 15px;
        height: 12px;
        margin-right: 5px;
    }
}
.title {
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: clamp(20px, 24px, 25px);
    line-height: 32px;
    color: var(--black-color);
    margin-top: 16px;
    margin-bottom: 18px;
    display: flex;
    align-items: center;
    max-width: 400px;
    white-space: nowrap;

    &--approved::before {
        content: "";
        background: url(../img/sprites/approval-icon.svg) no-repeat center/cover;
        width: 20px;
        height: 20px;
        margin-right: 8px;
    }

    &--approved:hover + .comp-popover {
        display: block;
    }

    @include media-custom-max(992px) {
        white-space: unset;
    }
}
.comp-popover {
    position: absolute;
    z-index: 999;
    background-color: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    padding: 24px;
    display: none;

    &__title {
        font-family: Roboto, sans-serif;
        font-weight: 500;
        font-size: clamp(14px, 16px, 17px);
        line-height: 24px;
        color: var(--black-color);
        display: flex;
        align-items: center;

        &::before {
            content: "";
            background: url(../img/sprites/approval-icon.svg) no-repeat
                center/cover;
            width: 20px;
            height: 20px;
            margin-right: 8px;
        }
    }

    &__approve-text {
        font-family: Roboto, sans-serif;
        font-weight: 400;
        font-size: clamp(12px, 14px, 15px);
        line-height: 20px;
        color: var(--grey-color--darker);
        max-width: 243px;
    }
}
.views {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: clamp(12px, 14px, 15px);
    line-height: 20px;
    color: var(--grey-color--lighter);
    display: flex;
    align-items: center;

    &::before {
        content: "";
        background: url(../img/sprites/eye-icon.svg) no-repeat center/cover;
        width: 20px;
        height: 20px;
        margin-right: 5px;
    }

    &__count {
        margin: 0;
    }

    &__right {
        display: flex;
        align-items: center;
        padding-top: 2px;
    }

    &__counter {
        padding-left: 2px;
    }
}
.leave-comment {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: clamp(12px, 14px, 15px);
    line-height: 20px;
    color: var(--grey-color--lighter);
    display: flex;
    align-items: center;
    margin: 0;
    text-decoration: none;
    margin-left: 24px;
    margin-top: 2px;

    &::before {
        content: "";
        background: url(../img/sprites/comment-icon.svg) no-repeat center/cover;
        width: 20px;
        height: 20px;
        margin-right: 5px;
    }

    @include media-custom-max(518px) {
        margin-top: 0;
    }
}
.add-info,
.add-info__left {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include media-custom-max(518px) {
        justify-content: center;
    }
}
.add-info {
    flex-wrap: wrap;
}
.add-info__left {
    @include media-custom-max(518px) {
        margin-bottom: 1rem;
    }
}
.btn {
    border: 1px solid;
    background-color: transparent;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    line-height: 20px;
    padding: 10px 24px;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;

    &--green {
        border-color: var(--green-color);
        color: var(--green-color);
    }

    &--green:hover,
    &--green:active,
    &--green:focus {
        background-color: var(--green-color);
        color: white;
    }
}
.last-nots {
    &__title {
        font-family: Roboto, sans-serif;
        font-weight: 500;
        font-size: clamp(16px, 19px, 20px);
        line-height: 28px;
        color: var(--black-color);
        margin-bottom: 8px;
        border-bottom: 1px solid var((--white-color--darker));
        padding-bottom: 16px;
    }

    &__table {
        font-family: Roboto, sans-serif;
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        border-collapse: collapse;

        thead {
            background-color: #f0f0f0;
            border-radius: 3px;
        }

        thead td {
            color: var(--grey-color--darker);
            padding-top: 8px;
            padding-bottom: 8px;
        }

        tbody tr {
            border-bottom: 1px solid var(--white-color--darker);
        }
        tbody td {
            padding-top: 8px;
            padding-bottom: 8px;
        }
    }

    &__time-ico {
        width: 16px;
        height: 16px;
        margin-left: 20px;
        margin-top: 3px;

        path {
            fill: var(--grey-color--darker);
        }
    }

    &__status {
        border-radius: 3px;
        color: white;
        padding: 4px;
        text-align: center;
    }

    &__status--sell {
        background-color: var(--blue-color--lighter);
    }

    &__status--buy {
        background-color: var(--orange-color);
    }

    &__descr {
        color: var(--blue-color);
    }

    &__time,
    &__views {
        color: var(--grey-color--darker);
    }

    &__views {
        text-align: right;
    }

    &__publisher {
        display: flex;
        align-items: center;
    }

    &__img {
        width: 30px;
        max-height: 40px;
    }
    &__publisher-info {
        display: flex;
        flex-direction: column;
        margin-left: 8px;
    }

    &__publisher-name {
        color: var(--blue-color);
        margin: 0;
    }
    &__publisher-comp {
        color: var(--grey-color--lighter);
        margin: 0;
    }

    &__status,
    &__descr,
    &__time,
    &__views {
        margin-right: 16px;
        display: block;
    }
}
/* index styles - end */
